1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system'

with open('test.txt', 'w') as file:
    file.write(test1)

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
with open('test.txt', 'r') as file:
    test2 = file.read()

# Compare test1 and test2
if test1 == test2:
    print("test1 and test2 are the same.")
else:
    print("test1 and test2 are different.")

test1 and test2 are the same.

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [3]:
import csv

lines = [
    ['title', 'author', 'year'],
    ['The Weirdstone of Brisingamen', 'Alan Garner', '1960'],
    ['Perdido Street Station', 'China Miéville', '2000'],
    ['Thud!', 'Terry Pratchett', '2005'],
    ['The Spellman Files', 'Lisa Lutz', '2007'],
    ['Small Gods', 'Terry Pratchett', '1992']
]

with open('books.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(lines)

print("books.csv created successfully.")

books.csv created successfully.

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [4]:
import sqlite3

# Connect to the database (or create it if it doesn't exist)
conn = sqlite3.connect('books.db')

# Create a cursor object to execute SQL statements
cursor = conn.cursor()

# Create the 'books' table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        title TEXT,
        author TEXT,
        year INTEGER
    )
''')

# Commit the changes and close the connection
conn.commit()
conn.close()

print("books.db created successfully.")

books.db created successfully.

5. Read books.csv and insert its data into the book table.

In [5]:
import csv
import sqlite3

# Connect to the database
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Open the CSV file
with open('books.csv', 'r') as file:
    # Create a CSV reader object
    csv_reader = csv.reader(file)

    # Skip the header row
    next(csv_reader)

    # Insert the data into the 'books' table
    for row in csv_reader:
        cursor.execute('INSERT INTO books (title, author, year) VALUES (?, ?, ?)', row)

# Commit the changes and close the connection
conn.commit()
conn.close()

print("Data imported successfully.")

Data imported successfully.

6. Select and print the title column from the book table in alphabetical order.

In [6]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Execute the SQL query
cursor.execute('SELECT title FROM books ORDER BY title ASC')

# Fetch all the results
results = cursor.fetchall()

# Print the titles
for row in results:
    print(row[0])

# Close the connection
conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

7. From the book table, select and print all columns in the order of publication.

In [7]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Execute the SQL query
cursor.execute('SELECT * FROM books ORDER BY year ASC')

# Fetch all the results
results = cursor.fetchall()

# Print the columns
for row in results:
    print(row)

# Close the connection
conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [8]:
from sqlalchemy import create_engine

# Create the engine and connect to the database
engine = create_engine('sqlite:///books.db')
conn = engine.connect()

# Perform database operations

# Close the connection
conn.close()

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [ ]:
import redis

# Connect to Redis
r = redis.Redis()

# Create a Redis hash called 'test'
r.hset('test', 'count', 1)
r.hset('test', 'name', 'Fester Bestertester')

# Print all the fields in 'test'
fields = r.hgetall('test')
for field, value in fields.items():
    print(f"{field.decode()}: {value.decode()}")

10. Increment the count field of test and print it.

In [ ]:
import redis

# Connect to Redis
r = redis.Redis()

# Increment the 'count' field of 'test'
r.hincrby('test', 'count', 1)

# Print the updated value of 'count'
count = r.hget('test', 'count')
print(f"Updated count: {count.decode()}")