In [54]:
# Question1
'''Write a function that takes a list and a number as arguments. Add the number to the end of
the list, then remove the first element of the list. The function should then return the updated
list.
Examples
next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]
next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]
next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]
next_in_line([], 6) ➞ &quot;No list has been selected&quot;'''

'Write a function that takes a list and a number as arguments. Add the number to the end of\nthe list, then remove the first element of the list. The function should then return the updated\nlist.\nExamples\nnext_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]\nnext_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]\nnext_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]\nnext_in_line([], 6) ➞ &quot;No list has been selected&quot;'

In [55]:
#  here is the Python code for the next_in_line function:
def next_in_line(list_of_numbers, number):
  """
  Returns the updated list after adding the number to the end and removing the first element.

  Args:
    list_of_numbers: A list of numbers.
    number: The number to add to the end of the list.

  Returns:
    The updated list.
  """

  if not list_of_numbers:
    return "No list has been selected"
  else:
    list_of_numbers.append(number)
    list_of_numbers.pop(0)
    return list_of_numbers


if __name__ == "__main__":
  print(next_in_line([5, 6, 7, 8, 9], 1))
  print(next_in_line([7, 6, 3, 23, 17], 10))
  print(next_in_line([1, 10, 20, 42 ], 6))
  print(next_in_line([], 6))

[6, 7, 8, 9, 1]
[6, 3, 23, 17, 10]
[10, 20, 42, 6]
No list has been selected

In [56]:
# Question2
'''Create the function that takes a list of dictionaries and returns the sum of people&#39;s budgets.
Examples
get_budgets([
{ &quot;name&quot;: &quot;John&quot;, &quot;age&quot;: 21, &quot;budget&quot;: 23000 },
{ &quot;name&quot;: &quot;Steve&quot;, &quot;age&quot;: 32, &quot;budget&quot;: 40000 },
{ &quot;name&quot;: &quot;Martin&quot;, &quot;age&quot;: 16, &quot;budget&quot;: 2700 }
]) ➞ 65700
get_budgets([
{ &quot;name&quot;: &quot;John&quot;, &quot;age&quot;: 21, &quot;budget&quot;: 29000 },
{ &quot;name&quot;: &quot;Steve&quot;, &quot;age&quot;: 32, &quot;budget&quot;: 32000 },
{ &quot;name&quot;: &quot;Martin&quot;, &quot;age&quot;: 16, &quot;budget&quot;: 1600 }
]) ➞ 62600'''

'Create the function that takes a list of dictionaries and returns the sum of people&#39;s budgets.\nExamples\nget_budgets([\n{ &quot;name&quot;: &quot;John&quot;, &quot;age&quot;: 21, &quot;budget&quot;: 23000 },\n{ &quot;name&quot;: &quot;Steve&quot;, &quot;age&quot;: 32, &quot;budget&quot;: 40000 },\n{ &quot;name&quot;: &quot;Martin&quot;, &quot;age&quot;: 16, &quot;budget&quot;: 2700 }\n]) ➞ 65700\nget_budgets([\n{ &quot;name&quot;: &quot;John&quot;, &quot;age&quot;: 21, &quot;budget&quot;: 29000 },\n{ &quot;name&quot;: &quot;Steve&quot;, &quot;age&quot;: 32, &quot;budget&quot;: 32000 },\n{ &quot;name&quot;: &quot;Martin&quot;, &quot;age&quot;: 16, &quot;budget&quot;: 1600 }\n]) ➞ 62600'

In [57]:
# here is the Python code for the get_budgets function:
def get_budgets(list_of_people):
  """
  Returns the sum of people's budgets.

  Args:
    list_of_people: A list of dictionaries.

  Returns:
    The sum of people's budgets.
  """

  total_budget = 0
  for person in list_of_people:
    budget = person["budget"]
    total_budget += budget
  return total_budget


if __name__ == "__main__":
  print(get_budgets([
    { "name": "John", "age": 21, "budget": 23000 },
    { "name": "Steve", "age": 32, "budget": 40000 },
    { "name": "Martin", "age": 16, "budget": 2700 }
  ]))
  print(get_budgets([
    { "name": "John", "age": 21, "budget": 29000 },
    { "name": "Steve", "age": 32, "budget": 32000 },
    { "name": "Martin", "age": 16, "budget": 1600 }
  ]))

65700
62600

In [58]:
# Question3
'''Create a function that takes a string and returns a string with its letters in alphabetical order.
Examples
alphabet_soup(&quot;hello&quot;) ➞ &quot;ehllo&quot;
alphabet_soup(&quot;edabit&quot;) ➞ &quot;abdeit&quot;
alphabet_soup(&quot;hacker&quot;) ➞ &quot;acehkr&quot;
alphabet_soup(&quot;geek&quot;) ➞ &quot;eegk&quot;
alphabet_soup(&quot;javascript&quot;) ➞ &quot;aacijprstv&quot;'''

'Create a function that takes a string and returns a string with its letters in alphabetical order.\nExamples\nalphabet_soup(&quot;hello&quot;) ➞ &quot;ehllo&quot;\nalphabet_soup(&quot;edabit&quot;) ➞ &quot;abdeit&quot;\nalphabet_soup(&quot;hacker&quot;) ➞ &quot;acehkr&quot;\nalphabet_soup(&quot;geek&quot;) ➞ &quot;eegk&quot;\nalphabet_soup(&quot;javascript&quot;) ➞ &quot;aacijprstv&quot;'

In [59]:
# here is the Python code for the get_budgets function:
def get_budgets(list_of_people):
  """
  Returns the sum of people's budgets.

  Args:
    list_of_people: A list of dictionaries.

  Returns:
    The sum of people's budgets.
  """

  total_budget = 0
  for person in list_of_people:
    budget = person["budget"]
    total_budget += budget
  return total_budget


if __name__ == "__main__":
  print(get_budgets([
    { "name": "John", "age": 21, "budget": 23000 },
    { "name": "Steve", "age": 32, "budget": 40000 },
    { "name": "Martin", "age": 16, "budget": 2700 }
  ]))
  print(get_budgets([
    { "name": "John", "age": 21, "budget": 29000 },
    { "name": "Steve", "age": 32, "budget": 32000 },
    { "name": "Martin", "age": 16, "budget": 1600 }
  ]))

65700
62600

In [60]:
# Question4
'''Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly.
What will be the value of your investment at the end of the 10 year period?
Create a function that accepts the principal p, the term in years t, the interest rate r, and the
number of compounding periods per year n. The function returns the value at the end of term
rounded to the nearest cent.
For the example above:
compound_interest(10000, 10, 0.06, 12) ➞ 18193.97
Note that the interest rate is given as a decimal and n=12 because with monthly compounding
there are 12 periods per year. Compounding can also be done annually, quarterly, weekly, or
daily.
Examples
compound_interest(100, 1, 0.05, 1) ➞ 105.0
compound_interest(3500, 15, 0.1, 4) ➞ 15399.26
compound_interest(100000, 20, 0.15, 365) ➞ 2007316.26'''

'Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly.\nWhat will be the value of your investment at the end of the 10 year period?\nCreate a function that accepts the principal p, the term in years t, the interest rate r, and the\nnumber of compounding periods per year n. The function returns the value at the end of term\nrounded to the nearest cent.\nFor the example above:\ncompound_interest(10000, 10, 0.06, 12) ➞ 18193.97\nNote that the interest rate is given as a decimal and n=12 because with monthly compounding\nthere are 12 periods per year. Compounding can also be done annually, quarterly, weekly, or\ndaily.\nExamples\ncompound_interest(100, 1, 0.05, 1) ➞ 105.0\ncompound_interest(3500, 15, 0.1, 4) ➞ 15399.26\ncompound_interest(100000, 20, 0.15, 365) ➞ 2007316.26'

In [61]:
# here is the Python code for the compound_interest function:
import math


def compound_interest(principal, term, interest_rate, compounding_periods_per_year):
  """
  Returns the value of an investment at the end of the term.

  Args:
    principal: The initial principal amount.
    term: The term in years.
    interest_rate: The annual interest rate.
    compounding_periods_per_year: The number of compounding periods per year.

  Returns:
    The value of the investment at the end of the term.
  """

  interest_rate_per_period = interest_rate / compounding_periods_per_year
  number_of_periods = term * compounding_periods_per_year
  future_value = principal * (1 + interest_rate_per_period)**number_of_periods
  return round(future_value, 2)


if __name__ == "__main__":
  print(compound_interest(10000, 10, 0.06, 12))
  print(compound_interest(3500, 15, 0.1, 4))
  print(compound_interest(100000, 20, 0.15, 365))

18193.97
15399.26
2007316.26

In [62]:
# Question5
'''Write a function that takes a list of elements and returns only the integers.
Examples
return_only_integer([9, 2, &quot;space&quot;, &quot;car&quot;, &quot;lion&quot;, 16]) ➞ [9, 2, 16]
return_only_integer([&quot;hello&quot;, 81, &quot;basketball&quot;, 123, &quot;fox&quot;]) ➞ [81, 123]
return_only_integer([10, &quot;121&quot;, 56, 20, &quot;car&quot;, 3, &quot;lion&quot;]) ➞ [10, 56, 20,
3]
return_only_integer([&quot;String&quot;, True, 3.3, 1]) ➞ [1]'''

'Write a function that takes a list of elements and returns only the integers.\nExamples\nreturn_only_integer([9, 2, &quot;space&quot;, &quot;car&quot;, &quot;lion&quot;, 16]) ➞ [9, 2, 16]\nreturn_only_integer([&quot;hello&quot;, 81, &quot;basketball&quot;, 123, &quot;fox&quot;]) ➞ [81, 123]\nreturn_only_integer([10, &quot;121&quot;, 56, 20, &quot;car&quot;, 3, &quot;lion&quot;]) ➞ [10, 56, 20,\n3]\nreturn_only_integer([&quot;String&quot;, True, 3.3, 1]) ➞ [1]'

In [63]:
# here is the Python code for the return_only_integer function:
def return_only_integer(list_of_elements):
  """
  Returns a list of integers from a list of elements.

  Args:
    list_of_elements: A list of elements.

  Returns:
    A list of integers.
  """

  list_of_integers = []
  for element in list_of_elements:
    if isinstance(element, int):
      list_of_integers.append(element)
  return list_of_integers


if __name__ == "__main__":
  print(return_only_integer([9, 2, "space", "car", "lion", 16]))
  print(return_only_integer(["hello", 81, "basketball", 123, "fox"]))
  print(return_only_integer([10, "121", 56, 20, "car", 3, "lion"]))
  print(return_only_integer(["String", True, 3.3, 1]))

[9, 2, 16]
[81, 123]
[10, 56, 20, 3]
[True, 1]