In [10]:
# Question 1
'''Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True'''

'Create a function that takes a number as an argument and returns True or False depending\non whether the number is symmetrical or not. A number is symmetrical when it is the same as\nits reverse.\nExamples\nis_symmetrical(7227) ➞ True\nis_symmetrical(12567) ➞ False\nis_symmetrical(44444444) ➞ True\nis_symmetrical(9939) ➞ False\nis_symmetrical(1112111) ➞ True'

In [11]:
# Here's a Python function that checks if a number is symmetrical:
def is_symmetrical(number):
    number_str = str(number)
    reversed_str = number_str[::-1]
    return number_str == reversed_str

print(is_symmetrical(7227))       # True
print(is_symmetrical(12567))      # False
print(is_symmetrical(44444444))   # True
print(is_symmetrical(9939))       # False
print(is_symmetrical(1112111))    # True

True
False
True
False
True

In [12]:
# Question 2
'''Given a string of numbers separated by a comma and space, return the product of the
numbers.
Examples
multiply_nums(&quot;2, 3&quot;) ➞ 6
multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24
multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0
multiply_nums(&quot;10, -2&quot;) ➞ -20'''

'Given a string of numbers separated by a comma and space, return the product of the\nnumbers.\nExamples\nmultiply_nums(&quot;2, 3&quot;) ➞ 6\nmultiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24\nmultiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0\nmultiply_nums(&quot;10, -2&quot;) ➞ -20'

In [13]:
# Here's a Python function that calculates the product of numbers in a string:
def multiply_nums(numbers):
    num_list = numbers.split(", ")
    product = 1
    for num in num_list:
        product *= int(num)
    return product

print(multiply_nums("2, 3"))              # 6
print(multiply_nums("1, 2, 3, 4"))        # 24
print(multiply_nums("54, 75, 453, 0"))    # 0
print(multiply_nums("10, -2"))            # -20

6
24
0
-20

In [14]:
# Question 3
'''Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.'''

'Create a function that squares every digit of a number.\nExamples\nsquare_digits(9119) ➞ 811181\nsquare_digits(2483) ➞ 416649\nsquare_digits(3212) ➞ 9414\nNotes\nThe function receives an integer and must return an integer.'

In [15]:
# Here's a Python function that squares every digit of a number:
def square_digits(number):
    squared_digits = []
    for digit in str(number):
        squared_digits.append(str(int(digit) ** 2))
    squared_number = int(''.join(squared_digits))
    return squared_number

print(square_digits(9119))    # 811181
print(square_digits(2483))    # 416649
print(square_digits(3212))    # 9414

811181
416649
9414

In [16]:
# Question 4
'''Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]'''

'Create a function that sorts a list and removes all duplicate items from it.\nExamples\nsetify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]\nsetify([4, 4, 4, 4]) ➞ [4]\nsetify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]\nsetify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]'

In [17]:
# Here's a Python function that sorts a list and removes all duplicate items from it:
def setify(lst):
    sorted_list = sorted(lst)
    unique_list = []
    for item in sorted_list:
        if item not in unique_list:
            unique_list.append(item)
    return unique_list

print(setify([1, 3, 3, 5, 5]))               # [1, 3, 5]
print(setify([4, 4, 4, 4]))                  # [4]
print(setify([5, 7, 8, 9, 10, 15]))          # [5, 7, 8, 9, 10, 15]
print(setify([3, 3, 3, 2, 1]))               # [1, 2, 3]

[1, 3, 5]
[4]
[5, 7, 8, 9, 10, 15]
[1, 2, 3]

In [18]:
# Question 5
'''Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6
Notes
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).
 The mean will always be an integer.'''

'Create a function that returns the mean of all digits.\nExamples\nmean(42) ➞ 3\nmean(12345) ➞ 3\nmean(666) ➞ 6\nNotes\n\uf0b7 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in\n512 is (5+1+2)/3(number of digits) = 8/3=2).\n\uf0b7 The mean will always be an integer.'

In [19]:
# Here's a Python function that calculates the mean of all the digits in a number:
def mean(number):
    digits = [int(digit) for digit in str(number)]
    return sum(digits) // len(digits)

print(mean(42))             # 3
print(mean(12345))          # 3
print(mean(666))            # 6

3
3
6